body {
    font-family: Arial;
    background-color: rgb(35, 85, 87);
    color: white;
}


#titulo {
    color: rgb(225, 255, 0);
}


.parrafo {
    font-size: 14px;
    margin-bottom: 20px;
}


.caja {
    display: inline-block;
    width: 150px;
    height: 100px;

    background-color: lightgray;
    color: black;

    border: 4px solid black;
    padding: 10px;
    margin: 5px;

    box-sizing: border-box;
}

.caja:hover {
    background-color: gray;
}
